taoQtiItem/model/qti/data/apipv1p0/Entry_Level/PNP/apipv1p0_afapnpextv1p0_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_pnpv1p0"
    targetNamespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_pnpv1p0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:sch="http://purl.oclc.org/dsdl/schematron"
    version="IMS AFAPNP APIP EXT V1.0"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:import namespace = "http://www.w3.org/XML/1998/namespace" schemaLocation = "http://www.imsglobal.org/xsd/w3/2001/xml.xsd"/>
    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         Colin Smythe (IMS GLC)
            Date:           30th April, 2012
            Version:        1.0
            Status:         Final Release
            Description:    This is the PSM for the APIP Extensions of the Access For All Personal 
                            Needs and Preferences for Digital Delivery data model.

            History:        Version 1.0: This is the original version of this APIP Extensions of the AfA PNP.

            License:        IPR, License and Distribution Notices

                            This machine readable file is derived from IMS Global Learning Consortium (GLC) specification IMS Accessible Portable Item Protocol (APIP) Version 1.0
                            found at http://www.imsglobal.org/apip and the original IMS GLC schema binding or code base
                            http://www.imsglobal.org/apip.

                            Recipients of this document are requested to submit, with their comments, notification of any
                            relevant patent claims or other intellectual property rights of which they may be aware that might be
                            infringed by the schema binding contained in this document.

                            IMS GLC takes no position regarding the validity or scope of any intellectual property or other
                            rights that might be claimed to pertain to the implementation or use of the technology described in this
                            document or the extent to which any license under such rights might or might not be available; neither
                            does it represent that it has made any effort to identify any such rights. Information on IMS GLCs
                            procedures with respect to rights in IMS GLC specifications can be found at the IMS GLC Intellectual Property
                            Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2012. All Rights Reserved.

                            License Notice for Users

                            Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                            non-exclusive license to use this document. 

                            Distribution Notice for Developers

                            Developers of products or services that are not original incorporators of this document and 
                            have not changed this document, that is, are distributing a software product that incorporates this 
                            document as is from a third-party source other than IMS, are hereby granted permission to copy,
                            display and distribute the contents of this document in any medium for any purpose without fee or 
                            royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                            copies, or portions thereof.

                            Developers of products or services that are original incorporators of this document and wish 
                            to provide distribution of this document as is or with modifications and developers of products and 
                            services that are not original incorporators of this document and have changed this document, are
                            required to register with the IMS GLC community on the IMS GLC website as described in the following two
                            paragraphs:-

                            *  If you wish to distribute this document as is, with no modifications, you are hereby granted 
                               permission to copy, display and distribute the contents of this document in any medium for any 
                               purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                               its entirety on ALL copies, or portions thereof, that you make and you complete a valid license 
                               registration with IMS and receive an email from IMS granting the license. To register, follow the 
                               instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
                               registered you are granted permission to transfer unlimited distribution rights of this document for the 
                               purposes of third-party or other distribution of your product or service that incorporates this 
                               document as long as this IPR, License and Distribution notice remains in place in its entirety; 

                            *  If you wish to create and distribute a derived work from this document, you are hereby 
                               granted permission to copy, display and distribute the contents of the derived work in any medium for 
                               any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                               notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid 
                               profile registration with IMS GLC and receive an email from IMS GLC granting the license. To register, follow
                               the instructions on the IMS GLC website: http://www.imsglobal.org/profile/. Once registered you are 
                               granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                               third-party or other distribution of your product or service that incorporates the derived work as long 
                               as this IPR, License and Distribution notice remains in place in its entirety. 

                            The limited permissions granted above are perpetual and will not be revoked by IMS GLC or its 
                            successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ---------------------------
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)

            Source XSLT File Information
            ----------------------------
            XSL Generator:    UMLtoXSDTransformv1p0.xsl
            XSLT Processor:   Xalan
            Release:          1.0
            Date:             31st March, 2012
            Autogen Engineer: Colin Smythe (IMS GLC, UK)
            Autogen Date:     2012-04-16

            IMS GLC Auto-generation Binding Tool-kit (I-BAT)
            ------------------------------------------------
            This file was auto-generated using the IMS GLC Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS GLC makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS GLC "I-BAT" Documentation available at the IMS GLC web-site.

            Tool Copyright:  2005-2012 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation>
            Schematron Strict Selection Validation Rules
            --------------------------------------------
            This is the set of Schematron rules that have been created to enforce the use of the "Unordered" stereotype.
            These rules ensure that the number of entries in an unordered complexType of an element obey the multiplicity constraints.
            This is required so that any-order/any-multiplicity complexTypes can be constructed and validated.
        </xs:documentation>
        <xs:appinfo>
            <sch:ns uri="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_pnpv1p0" prefix="apip"/>
            <sch:title>Schematron validation rules for the enforcement of the Unordered stereotype.</sch:title>

            <!-- RULESET ******************************************************************* -->
            <sch:pattern abstract="false" id="APIPContent.Type">
                <sch:title>[RULESET] For the APIPContent.Type complexType.</sch:title>

                <sch:rule abstract="false" context="apip:apipContent">

                    <sch:assert test="count(apip:languageLearner) = 0 or count(apip:languageLearner) = 1">
                        [RULE for Root Class Attribute 1] Invalid number of "languageLearner" elements: <sch:value-of select="count(apip:languageLearner)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:cognitiveGuidance) = 0 or count(apip:cognitiveGuidance) = 1">
                        [RULE for Root Class Attribute 2] Invalid number of "cognitiveGuidance" elements: <sch:value-of select="count(apip:cognitiveGuidance)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:scaffolding) = 0 or count(apip:scaffolding) = 1">
                        [RULE for Root Class Attribute 3] Invalid number of "scaffolding" elements: <sch:value-of select="count(apip:scaffolding)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:chunking) = 0 or count(apip:chunking) = 1">
                        [RULE for Root Class Attribute 4] Invalid number of "chunking" elements: <sch:value-of select="count(apip:chunking)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:keywordEmphasis) = 0 or count(apip:keywordEmphasis) = 1">
                        [RULE for Root Class Attribute 5] Invalid number of "keywordEmphasis" elements: <sch:value-of select="count(apip:keywordEmphasis)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:reducedAnswers) = 0 or count(apip:reducedAnswers) = 1">
                        [RULE for Root Class Attribute 6] Invalid number of "reducedAnswers" elements: <sch:value-of select="count(apip:reducedAnswers)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:negativesRemoved) = 0 or count(apip:negativesRemoved) = 1">
                        [RULE for Root Class Attribute 7] Invalid number of "negativesRemoved" elements: <sch:value-of select="count(apip:negativesRemoved)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:alternativeRepresentations) = 0 or count(apip:alternativeRepresentations) = 1">
                        [RULE for Root Class Attribute 8] Invalid number of "alternativeRepresentations" elements: <sch:value-of select="count(apip:alternativeRepresentations)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:keywordTranslations) = 0 or count(apip:keywordTranslations) = 1">
                        [RULE for Root Class Attribute 9] Invalid number of "keywordTranslations" elements: <sch:value-of select="count(apip:keywordTranslations)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:itemTranslationDisplay) = 0 or count(apip:itemTranslationDisplay) = 1">
                        [RULE for Root Class Attribute 10] Invalid number of "itemTranslationDisplay" elements: <sch:value-of select="count(apip:itemTranslationDisplay)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:signing) = 0 or count(apip:signing) = 1">
                        [RULE for Root Class Attribute 11] Invalid number of "signing" elements: <sch:value-of select="count(apip:signing)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:spoken) = 0 or count(apip:spoken) = 1">
                        [RULE for Root Class Attribute 12] Invalid number of "spoken" elements: <sch:value-of select="count(apip:spoken)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:simplifiedLanguage) = 0 or count(apip:simplifiedLanguage) = 1">
                        [RULE for Root Class Attribute 13] Invalid number of "simplifiedLanguage" elements: <sch:value-of select="count(apip:simplifiedLanguage)"/>.
                    </sch:assert>

                </sch:rule>

            </sch:pattern>
            <!-- *************************************************************************** -->

            <!-- RULESET ******************************************************************* -->
            <sch:pattern abstract="false" id="APIPControl.Type">
                <sch:title>[RULESET] For the APIPControl.Type complexType.</sch:title>

                <sch:rule abstract="false" context="apip:apipControl">

                    <sch:assert test="count(apip:breaks) = 0 or count(apip:breaks) = 1">
                        [RULE for Root Class Attribute 1] Invalid number of "breaks" elements: <sch:value-of select="count(apip:breaks)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:additionalTestingTime) = 0 or count(apip:additionalTestingTime) = 1">
                        [RULE for Root Class Attribute 2] Invalid number of "additionalTestingTime" elements: <sch:value-of select="count(apip:additionalTestingTime)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:lineReader) = 0 or count(apip:lineReader) = 1">
                        [RULE for Root Class Attribute 3] Invalid number of "lineReader" elements: <sch:value-of select="count(apip:lineReader)"/>.
                    </sch:assert>

                </sch:rule>

            </sch:pattern>
            <!-- *************************************************************************** -->

            <!-- RULESET ******************************************************************* -->
            <sch:pattern abstract="false" id="APIPDisplay.Type">
                <sch:title>[RULESET] For the APIPDisplay.Type complexType.</sch:title>

                <sch:rule abstract="false" context="apip:apipDisplay">

                    <sch:assert test="count(apip:assignedSupport) = 1">
                        [RULE for Root Class Attribute 1] Invalid number of "assignedSupport" elements: <sch:value-of select="count(apip:assignedSupport)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:activateByDefault) = 1">
                        [RULE for Root Class Attribute 2] Invalid number of "activateByDefault" elements: <sch:value-of select="count(apip:activateByDefault)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:masking) = 0 or count(apip:masking) = 1">
                        [RULE for Root Class Attribute 3] Invalid number of "masking" elements: <sch:value-of select="count(apip:masking)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:encouragement) = 0 or count(apip:encouragement) = 1">
                        [RULE for Root Class Attribute 4] Invalid number of "encouragement" elements: <sch:value-of select="count(apip:encouragement)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:auditoryBackground) = 0 or count(apip:auditoryBackground) = 1">
                        [RULE for Root Class Attribute 5] Invalid number of "auditoryBackground" elements: <sch:value-of select="count(apip:auditoryBackground)"/>.
                    </sch:assert>

                </sch:rule>

            </sch:pattern>
            <!-- *************************************************************************** -->

            <!-- RULESET ******************************************************************* -->
            <sch:pattern abstract="false" id="APIPScreenEnhancement.Type">
                <sch:title>[RULESET] For the APIPScreenEnhancement.Type complexType.</sch:title>

                <sch:rule abstract="false" context="apip:apipScreenEnhancement">

                    <sch:assert test="count(apip:increasedWhiteSpacing) = 0 or count(apip:increasedWhiteSpacing) = 1">
                        [RULE for Root Class Attribute 1] Invalid number of "increasedWhiteSpacing" elements: <sch:value-of select="count(apip:increasedWhiteSpacing)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:colourOverlay) = 0 or count(apip:colourOverlay) = 1">
                        [RULE for Root Class Attribute 2] Invalid number of "colourOverlay" elements: <sch:value-of select="count(apip:colourOverlay)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:foregroundColour) = 0 or count(apip:foregroundColour) = 1">
                        [RULE for Root Class Attribute 3] Invalid number of "foregroundColour" elements: <sch:value-of select="count(apip:foregroundColour)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:backgroundColour) = 0 or count(apip:backgroundColour) = 1">
                        [RULE for Root Class Attribute 4] Invalid number of "backgroundColour" elements: <sch:value-of select="count(apip:backgroundColour)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:invertColourChoice) = 0 or count(apip:invertColourChoice) = 1">
                        [RULE for Root Class Attribute 5] Invalid number of "invertColourChoice" elements: <sch:value-of select="count(apip:invertColourChoice)"/>.
                    </sch:assert>

                    <sch:assert test="count(apip:magnification) = 0 or count(apip:magnification) = 1">
                        [RULE for Root Class Attribute 6] Invalid number of "magnification" elements: <sch:value-of select="count(apip:magnification)"/>.
                    </sch:assert>

                </sch:rule>

            </sch:pattern>
            <!-- *************************************************************************** -->

        </xs:appinfo>
    </xs:annotation>

    <!-- Generate Global Attributes *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <xs:simpleType name="AssignedSupport.Type">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <xs:simpleType name="ActivateByDefault.Type">
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the data-type ComplexTypes ************************************************************** -->

    <xs:complexType name="AdditionalTestingTime.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The AdditionalTestingTime complexType is the container for the settings for the provision of additional testing time.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="timeMultiplier" type="xs:normalizedString" default="Unlimited" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AlternativeRepresentations.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The AlternativeRepresentations is the container for the operational mode settings for the provision of alternative representations support. The settings are: 'assignedSupport', 'activateByDefault' and the settings themselves.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="alternativeRepresentationType" minOccurs = "1" maxOccurs = "unbounded">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Audio"/>
                        <xs:enumeration value="Video"/>
                        <xs:enumeration value="Graphic"/>
                        <xs:enumeration value="Text"/>
                        <xs:enumeration value="Interactive"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="APIPContent.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The APIPControl complexType is the container for the set of APIP extensions to the AfA PNP Content complexType.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs = "0" maxOccurs = "unbounded">
            <xs:element name="languageLearner" type="LanguageLearner.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="cognitiveGuidance" type="CognitiveGuidance.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="scaffolding" type="Scaffolding.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="chunking" type="Chunking.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="keywordEmphasis" type="KeywordEmphasis.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="reducedAnswers" type="ReducedAnswers.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="negativesRemoved" type="NegativesRemoved.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="alternativeRepresentations" type="AlternativeRepresentations.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="keywordTranslations" type="KeywordTranslations.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="itemTranslationDisplay" type="ItemTranslationDisplay.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="signing" type="Signing.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="spoken" type="Spoken.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="simplifiedLanguage" type="SimplifiedLanguage.Type" minOccurs = "0" maxOccurs = "1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="APIPControl.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The APIPControl complexType is the container for the collection of APIP extensions to the Control complexType in the AfA PNP.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs = "0" maxOccurs = "unbounded">
            <xs:element name="breaks" type="Breaks.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="additionalTestingTime" type="AdditionalTestingTime.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="lineReader" type="LineReader.Type" minOccurs = "0" maxOccurs = "1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="APIPDisplay.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The APIPDisplay complexType is the container for the user preferences for access to the various display representations that may be available in an APIP object.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs = "0" maxOccurs = "unbounded">
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="masking" type="Masking.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="encouragement" type="Encouragement.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="auditoryBackground" type="AuditoryBackground.Type" minOccurs = "0" maxOccurs = "1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="APIPScreenEnhancement.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The APIPScreenEnhancement complexType is the container for the collection of the APIP extensions to the 'screenEnhancement' element in the AfA PNP v2.0 specification.
            </xs:documentation>
        </xs:annotation>
        <xs:choice minOccurs = "0" maxOccurs = "unbounded">
            <xs:element name="increasedWhiteSpacing" type="IncreasedWhiteSpacing.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="colourOverlay" type="ColourOverlay.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="foregroundColour" type="ForegroundColour.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="backgroundColour" type="BackgroundColour.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="invertColourChoice" type="InvertColourChoice.Type" minOccurs = "0" maxOccurs = "1"/>
            <xs:element name="magnification" type="Magnification.Type" minOccurs = "0" maxOccurs = "1"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="AuditoryBackground.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Braille complexType is the container for the settings for the provision of support for the use of a line reader. The values for the Braille are provided in the associated AfA PNP display.braille container.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="false" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BackgroundColour.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The BackgroundColour complexType is the container for the settings for the provision of support for the use of a line reader. The value for the background colour is provided in the associated AfA PNP display.screenEnhancement container.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="colour" type="xs:hexBinary" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Breaks.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Breaks complexType is the container for the settings to be applied for the support of breaks. The only setting is for the 'assignedSupport'.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Chunking.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Chunking complexType is the container for the settings for the support of the chunking functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="CognitiveGuidance.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The CognitiveGuidancer complexType is the container for the settings for the support of the guidance functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ColourOverlay.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The ColourOverlay complexType is the container for the operational mode settings for colour overlay provison and usage. The settings are: 'assignedSupport', 'activateByDefault' and the colour overlay value itself.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="false" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="colour" type="xs:hexBinary" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Encouragement.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The EncouragementMode complexType is the container for the information concerning the configuration of the support for encuoragement.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="actvateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:choice minOccurs = "1" maxOccurs = "unbounded">
                <xs:element name="textMessageString" type="xs:normalizedString" minOccurs = "1" maxOccurs = "unbounded"/>
                <xs:element name="soundFileHref" type="xs:anyURI" minOccurs = "1" maxOccurs = "unbounded"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ForegroundColour.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The ForegroundColour complexType is the container for the settings for the provision of support for the use of a line reader. The value for the foreground colour is provided in the associated AfAPNP display.screenEnhancement container.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="colour" type="xs:hexBinary" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IncreasedWhiteSpacing.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The IncreasedWhiteSpace complexType is the container for the operational mode settings for white spacing. The settings are: 'assignedSupport', 'activateByDefault' and the text constructs for which the settings are to be applied.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="increasedWhiteSpacingType" type="IncreasedWhiteSpacingType.Type" minOccurs = "0" maxOccurs = "3"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IncreasedWhiteSpacingType.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The IncreasedWhiteSpaceType complexType is the container for the objects for which the whitespacing settings are defined.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Line" type="xs:boolean" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="Word" type="xs:boolean" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="Character" type="xs:boolean" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InvertColourChoice.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The InvertColourChoice complexType is the container for the settings for the provision of support for the use of a line reader. The value for the object is provided in the associated AfA PNP display.screenEnhancement container.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ItemTranslationDisplay.Type" mixed="false">
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>

    <xs:complexType name="KeywordEmphasis.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The KeywordHighlight complexType is the container for the settings for the support of the keyword highlight functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KeywordTranslations.Type" mixed="false">
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
        <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>

    <xs:complexType name="LanguageLearner.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The LanguageLearner complexType is the container for the settings for the support of the language learner functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="LineReader.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The LineReader complexType is the container for the settings for the provision of support for the use of a line reader.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="false" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="colour" type="xs:hexBinary" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Magnification.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Magnification complexType is the container for the settings for the provision of support for the use of a line reader. The value for the magnification is provided in the associated AfA PNP display.screenEnhancement container.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Masking.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Masking complexType is the container for the information concerning the configuration of the masking support.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="false" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="maskingType" minOccurs = "1" maxOccurs = "2">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="CustomMask"/>
                        <xs:enumeration value="AnswerMask"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NegativesRemoved.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The NegativesRemoved complexType is the container for the settings for the support of the removal of negatives functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ReducedAnswers.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The ReducedAnswers complexType is the container for the settings for the support of the removal of answer options functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Scaffolding.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Scaffolding complexType is the container for the settings for the support of the scaffolding functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Signing.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Signing complexType is the container for the settings for the support of the signing functionality. The settings are the 'assignedSupport', 'activateByDefault' and 'signing' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="signingType" minOccurs = "1" maxOccurs = "1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="ASL"/>
                        <xs:enumeration value="SignedEnglish"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SimplifiedLanguage.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The SimplifiedLanguage complexType is the container for the settings for the support of the simplified language functionality. The settings are the 'assignedSupport' and the 'activateByDefault' modes.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Spoken.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The Spoken complexType is the container for the personal needs and preferences settings supplied by APIP-enabled content.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="assignedSupport" type="AssignedSupport.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="activateByDefault" type="ActivateByDefault.Type" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="spokenSourcePreference" default="Human" minOccurs = "1" maxOccurs = "1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="Human"/>
                        <xs:enumeration value="Synthetic"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="readAtStartPreference" type="xs:boolean" default="true" minOccurs = "1" maxOccurs = "1"/>
            <xs:element name="userSpokenPreference" default="TextOnly" minOccurs = "0" maxOccurs = "1">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="TextOnly"/>
                        <xs:enumeration value="GraphicsOnly"/>
                        <xs:enumeration value="TextGraphics"/>
                        <xs:enumeration value="NonVisual"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="directionsOnly" type="xs:boolean" default="false" minOccurs = "0" maxOccurs = "1"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="activateByDefault" type="ActivateByDefault.Type" default = "true"/>
    <xs:element name="apipContent" type="APIPContent.Type"/>
    <xs:element name="apipControl" type="APIPControl.Type"/>
    <xs:element name="apipDisplay" type="APIPDisplay.Type"/>
    <xs:element name="apipScreenEnhancement" type="APIPScreenEnhancement.Type"/>
    <xs:element name="assignedSupport" type="AssignedSupport.Type" default = "true"/>

    <!-- ================================================================================================== -->

</xs:schema>
