taoQtiItem/model/qti/data/apipv1p0/Core_Level/Package/apipv1p0_qtioutcomesv2p1_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<xs:schema xmlns="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1"
    targetNamespace="http://www.imsglobal.org/xsd/apip/apipv1p0/qtioutcomes/imsqti_v2p1"
    xmlns:xi="http://www.w3.org/2001/XInclude"
    xmlns:m="http://www.w3.org/1998/Math/MathML"
    xmlns:apip="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    version="IMS APIP 1.0 QTI 2.1 OUTCOMES"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">
    <xs:import namespace = "http://www.w3.org/XML/1998/namespace" schemaLocation = "http://www.imsglobal.org/xsd/w3/2001/xml.xsd"/>
    <xs:import namespace="http://www.w3.org/2001/XInclude" schemaLocation="http://www.imsglobal.org/xsd/w3/2001/XInclude.xsd"/>
    <xs:import namespace="http://www.w3.org/1998/Math/MathML" schemaLocation="http://www.w3.org/Math/XMLSchema/mathml2/mathml2.xsd"/>
    <xs:import namespace="http://www.imsglobal.org/xsd/apip/apipv1p0/imsapip_qtiv1p0" schemaLocation="http://www.imsglobal.org/profile/apip/apipv1p0/apipv1p0_qtiextv2p1_v1p0.xsd"/>
    <xs:annotation>
        <xs:documentation>
            XSD Data File Information
            -------------------------
            Author:         Colin Smythe
            Date:           31st July, 2012
            Version:        Final 1.0
            Status:         Final Release
            Description:    This is the Platform Specific Model of the APIPv1.0 profile of the IMS QTI v2.1 Information Model.
                            This is the Entry and Core Level Profile for APIPv1.0 QTIv2.1 Outcomes Declarations.

            History:        This is the first version of the APIPv1.0 QTIv2.1 Outcomes Declaration Profile.

            PROFILE:        This is the "APIP-Outcomes". THIS IS A PROFILE OF THE BASE SPECIFICATION.
                            The changes to the base specification are:
                            * The "A" class/complexType and set of XML attributes have been deleted;
                            * The "AnyN" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapping" class/complexType and set of XML attributes have been deleted;
                            * The "AreaMapping" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItem" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentItemRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSection" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentSectionRef" class/complexType and set of XML attributes have been deleted;
                            * The "AssessmentTest" class/complexType and set of XML attributes have been deleted;
                            * The "AssociableHotspot" class/complexType and set of XML attributes have been deleted;
                            * The "AssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "BaseValue" class/complexType and set of XML attributes have been deleted;
                            * The "BlockQuote" class/complexType and set of XML attributes have been deleted;
                            * The "BR" class/complexType and set of XML attributes have been deleted;
                            * The "BranchRule" class/complexType and set of XML attributes have been deleted;
                            * The "Caption" class/complexType and set of XML attributes have been deleted;
                            * The "ChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Col" class/complexType and set of XML attributes have been deleted;
                            * The "ColGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Correct" class/complexType and set of XML attributes have been deleted;
                            * The "CorrectResponse" class/complexType and set of XML attributes have been deleted;
                            * The "CustomInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "CustomOperator" class/complexType and set of XML attributes have been deleted;
                            * The "DD" class/complexType and set of XML attributes have been deleted;
                            * The "Default" class/complexType and set of XML attributes have been deleted;
                            * The "DefaultValue" class/complexType and set of XML attributes have been deleted;
                            * The "Div" class/complexType and set of XML attributes have been deleted;
                            * The "DL" class/complexType and set of XML attributes have been deleted;
                            * The "DrawingInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "DT" class/complexType and set of XML attributes have been deleted;
                            * The "EndAttemptInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Equal" class/complexType and set of XML attributes have been deleted;
                            * The "EqualRounded" class/complexType and set of XML attributes have been deleted;
                            * The "ExtendedTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "FeedbackInline" class/complexType and set of XML attributes have been deleted;
                            * The "FieldValue" class/complexType and set of XML attributes have been deleted;
                            * The "Gap" class/complexType and set of XML attributes have been deleted;
                            * The "GapChoice" class/complexType and set of XML attributes have been deleted;
                            * The "GapImg" class/complexType and set of XML attributes have been deleted;
                            * The "GapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GapText" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicAssociateInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicGapMatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "GraphicOrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotChoice" class/complexType and set of XML attributes have been deleted;
                            * The "HotspotInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HotText" class/complexType and set of XML attributes have been deleted;
                            * The "HotTextInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "HR" class/complexType and set of XML attributes have been deleted;
                            * The "HTMLText" class/complexType and set of XML attributes have been deleted;
                            * The "Img" class/complexType and set of XML attributes have been deleted;
                            * The "Index" class/complexType and set of XML attributes have been deleted;
                            * The "InfoControl" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoice" class/complexType and set of XML attributes have been deleted;
                            * The "InlineChoiceInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Inside" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTable" class/complexType and set of XML attributes have been deleted;
                            * The "InterpolationTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "ItemBody" class/complexType and set of XML attributes have been deleted;
                            * The "ItemSessionControl" class/complexType and set of XML attributes have been deleted;
                            * The "LI" class/complexType and set of XML attributes have been deleted;
                            * The "Logic0toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Logic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "LogicPair" class/complexType and set of XML attributes have been deleted;
                            * The "LogicSingle" class/complexType and set of XML attributes have been deleted;
                            * The "LookupOutcomeValue" class/complexType and set of XML attributes have been deleted;
                            * The "MapEntry" class/complexType and set of XML attributes have been deleted;
                            * The "Mapping" class/complexType and set of XML attributes have been deleted;
                            * The "MapResponse" class/complexType and set of XML attributes have been deleted;
                            * The "MatchInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTable" class/complexType and set of XML attributes have been deleted;
                            * The "MatchTableEntry" class/complexType and set of XML attributes have been deleted;
                            * The "MathConstant" class/complexType and set of XML attributes have been deleted;
                            * The "MathOperator" class/complexType and set of XML attributes have been deleted;
                            * The "MediaInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "ModalFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "Number" class/complexType and set of XML attributes have been deleted;
                            * The "NumericLogic1toMany" class/complexType and set of XML attributes have been deleted;
                            * The "Object" class/complexType and set of XML attributes have been deleted;
                            * The "ObjectFlowGroup" class/complexType and set of XML attributes have been deleted;
                            * The "Ordering" class/complexType and set of XML attributes have been deleted;
                            * The "OrderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "OUL" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeCondition" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeElse" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeIf" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeMinMax" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "OutcomeRule" class/complexType and set of XML attributes have been deleted;
                            * The "Param" class/complexType and set of XML attributes have been deleted;
                            * The "PatternMatch" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "PositionObjectStage" class/complexType and set of XML attributes have been deleted;
                            * The "PrintedVariable" class/complexType and set of XML attributes have been deleted;
                            * The "Prompt" class/complexType and set of XML attributes have been deleted;
                            * The "Q" class/complexType and set of XML attributes have been deleted;
                            * The "RandomFloat" class/complexType and set of XML attributes have been deleted;
                            * The "RandomInteger" class/complexType and set of XML attributes have been deleted;
                            * The "Repeat" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseCondition" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseElse" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseIf" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseProcessingFragment" class/complexType and set of XML attributes have been deleted;
                            * The "ResponseRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "RoundTo" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "RubricBlockTemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "SectionPart" class/complexType and set of XML attributes have been deleted;
                            * The "Selection" class/complexType and set of XML attributes have been deleted;
                            * The "SelectPointInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "SetValue" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleAssociableChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleChoice" class/complexType and set of XML attributes have been deleted;
                            * The "SimpleMatchSet" class/complexType and set of XML attributes have been deleted;
                            * The "SliderInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "StatsOperator" class/complexType and set of XML attributes have been deleted;
                            * The "StringMatch" class/complexType and set of XML attributes have been deleted;
                            * The "StyleSheet" class/complexType and set of XML attributes have been deleted;
                            * The "Substring" class/complexType and set of XML attributes have been deleted;
                            * The "Table" class/complexType and set of XML attributes have been deleted;
                            * The "TablePart" class/complexType and set of XML attributes have been deleted;
                            * The "TDH" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateBlockFeedbackBlock" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateCondition" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateConstraint" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDeclaration" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateDefault" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateElse" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateIf" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateInline" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateProcessing" class/complexType and set of XML attributes have been deleted;
                            * The "TemplateRuleGroup" class/complexType and set of XML attributes have been deleted;
                            * The "TestFeedback" class/complexType and set of XML attributes have been deleted;
                            * The "TestPart" class/complexType and set of XML attributes have been deleted;
                            * The "TestVariables" class/complexType and set of XML attributes have been deleted;
                            * The "TextEntryInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "TimeLimits" class/complexType and set of XML attributes have been deleted;
                            * The "TR" class/complexType and set of XML attributes have been deleted;
                            * The "UploadInteraction" class/complexType and set of XML attributes have been deleted;
                            * The "Value" class/complexType and set of XML attributes have been deleted;
                            * The "Variable" class/complexType and set of XML attributes have been deleted;
                            * The "VariableMapping" class/complexType and set of XML attributes have been deleted;
                            * The "Weight" class/complexType and set of XML attributes have been deleted;

            License:        IPR, License and Distribution Notices

                            This machine readable file is derived from IMS Global specification IMS Question and Test Interoperability (QTI) Version 2.1
                            found at http://www.imsglobal.org/qti and the original IMS Global schema binding or code base
                            http://www.imsglobal.org/qti.

                            Recipients of this document are requested to submit, with their comments, notification of any
                            relevant patent claims or other intellectual property rights of which they may be aware that might be
                            infringed by the schema binding contained in this document.

                            IMS GLC takes no position regarding the validity or scope of any intellectual property or other
                            rights that might be claimed to pertain to the implementation or use of the technology described in this
                            document or the extent to which any license under such rights might or might not be available; neither
                            does it represent that it has made any effort to identify any such rights. Information on IMS Global
                            procedures with respect to rights in IMS Global specifications can be found at the IMS Global Intellectual Property
                            Rights web page: http://www.imsglobal.org/ipr/imsipr_policyFinal.pdf.

                            Copyright (c) IMS Global Learning Consortium 1999-2012. All Rights Reserved.

                            License Notice for Users

                            Users of products or services that include this document are hereby granted a worldwide, royalty-free, 
                            non-exclusive license to use this document. 

                            Distribution Notice for Developers

                            Developers of products or services that are not original incorporators of this document and 
                            have not changed this document, that is, are distributing a software product that incorporates this 
                            document as is from a third-party source other than IMS, are hereby granted permission to copy,
                            display and distribute the contents of this document in any medium for any purpose without fee or 
                            royalty provided that you include this IPR, License and Distribution notice in its entirety on ALL
                            copies, or portions thereof.

                            Developers of products or services that are original incorporators of this document and wish 
                            to provide distribution of this document as is or with modifications and developers of products and 
                            services that are not original incorporators of this document and have changed this document, are
                            required to register with the IMS GLC community on the IMS GLC website as described in the following two
                            paragraphs:-

                            *  If you wish to distribute this document as is, with no modifications, you are hereby granted 
                               permission to copy, display and distribute the contents of this document in any medium for any 
                               purpose without fee or royalty provided that you include this IPR, License and Distribution notice in
                               its entirety on ALL copies, or portions thereof, that you make and you complete a valid license 
                               registration with IMS and receive an email from IMS granting the license. To register, follow the 
                               instructions on the IMS website: http://www.imsglobal.org/specificationdownload.cfm. Once 
                               registered you are granted permission to transfer unlimited distribution rights of this document for the 
                               purposes of third-party or other distribution of your product or service that incorporates this 
                               document as long as this IPR, License and Distribution notice remains in place in its entirety; 

                            *  If you wish to create and distribute a derived work from this document, you are hereby 
                               granted permission to copy, display and distribute the contents of the derived work in any medium for 
                               any purpose without fee or royalty provided that you include this IPR, License and Distribution 
                               notice in its entirety on ALL copies, or portions thereof, that you make and you complete a valid 
                               profile registration with IMS GLC and receive an email from IMS GLC granting the license. To register, follow
                               the instructions on the IMS GLC website: http://www.imsglobal.org/profile/. Once registered you are 
                               granted permission to transfer unlimited distribution rights of the derived work for the purposes of 
                               third-party or other distribution of your product or service that incorporates the derived work as long 
                               as this IPR, License and Distribution notice remains in place in its entirety. 

                            The limited permissions granted above are perpetual and will not be revoked by IMS GLC or its 
                            successors or assigns.

                            THIS SPECIFICATION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS
                            EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE CONSORTIUM
                            NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF
                            ANY NATURE WHATSOEVER, DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS SPECIFICATION.

            Source UML File Information
            ---------------------------
            The source file information must be supplied as an XMI file (without diagram layout information).
            The supported UML authoring tools are:
            (a) Poseidon - v6 (and later)

            Source XSLT File Information
            ----------------------------
            XSL Generator:    UMLtoXSDTransformv1p0.xsl
            XSLT Processor:   Xalan
            Release:          1.0
            Date:             31st March, 2012
            Autogen Engineer: Colin Smythe (IMS GLC, UK)
            Autogen Date:     2012-05-31

            IMS GLC Auto-generation Binding Tool-kit (I-BAT)
            ------------------------------------------------
            This file was auto-generated using the IMS GLC Binding Auto-generation Tool-kit (I-BAT).  While every
            attempt has been made to ensure that this tool auto-generates the files correctly, users should be aware
            that this is an experimental tool.  Permission is given to make use of this tool.  IMS GLC makes no
            claim on the materials created by third party users of this tool.  Details on how to use this tool
            are contained in the IMS GLC "I-BAT" Documentation available at the IMS GLC web-site.

            Tool Copyright:  2005-2012 (c) IMS Global Learning Consortium Inc.  All Rights Reserved.
        </xs:documentation>
    </xs:annotation>

    <!-- Generate Global Attributes *********************************************************************** -->

    <xs:attributeGroup name="identifier.OutcomeDeclaration.Attr">
        <xs:attribute name="identifier" use="required" type="Identifier.Type"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="cardinality.OutcomeDeclaration.Attr">
        <xs:attribute name="cardinality" use="required">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="multiple"/>
                    <xs:enumeration value="ordered"/>
                    <xs:enumeration value="record"/>
                    <xs:enumeration value="single"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="baseType.OutcomeDeclaration.Attr">
        <xs:attribute name="baseType" use="optional">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="boolean"/>
                    <xs:enumeration value="directedPair"/>
                    <xs:enumeration value="duration"/>
                    <xs:enumeration value="file"/>
                    <xs:enumeration value="float"/>
                    <xs:enumeration value="identifier"/>
                    <xs:enumeration value="integer"/>
                    <xs:enumeration value="pair"/>
                    <xs:enumeration value="point"/>
                    <xs:enumeration value="string"/>
                    <xs:enumeration value="uri"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="view.OutcomeDeclaration.Attr">
        <xs:attribute name="view" use="optional">
            <xs:simpleType>
                <xs:list itemType="View.Type"/>
            </xs:simpleType>
        </xs:attribute>
    </xs:attributeGroup>

    <xs:attributeGroup name="interpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="interpretation" use="optional" type="xs:string"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="longInterpretation.OutcomeDeclaration.Attr">
        <xs:attribute name="longInterpretation" use="optional" type="xs:anyURI"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMaximum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMaximum" use="optional" type="xs:double"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="normalMinimum.OutcomeDeclaration.Attr">
        <xs:attribute name="normalMinimum" use="optional" type="xs:double"/>
    </xs:attributeGroup>

    <xs:attributeGroup name="masteryValue.OutcomeDeclaration.Attr">
        <xs:attribute name="masteryValue" use="optional" type="xs:double"/>
    </xs:attributeGroup>

    <!-- ================================================================================================== -->

    <!-- Generate Global List Types *********************************************************************** -->

    <xs:simpleType name="IdentifierList.Type">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="IntegerList.Type">
        <xs:restriction base="xs:int"/>
    </xs:simpleType>

    <xs:simpleType name="StringList.Type">
        <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:simpleType name="ToleranceList.Type">
        <xs:union>
            <xs:simpleType>
                <xs:restriction base="xs:string"/>
            </xs:simpleType>
            <xs:simpleType>
                <xs:restriction base="xs:double"/>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>

    <xs:simpleType name="View.Type">
        <xs:restriction base="xs:string">
            <xs:enumeration value="author"/>
            <xs:enumeration value="candidate"/>
            <xs:enumeration value="proctor"/>
            <xs:enumeration value="scorer"/>
            <xs:enumeration value="testConstructor"/>
            <xs:enumeration value="tutor"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate Namespaced extension Group  ************************************************************* -->

    <xs:group name="grpLax.any">
        <xs:annotation>
            <xs:documentation>
                Any namespaced element from any namespace may be included within an "any" element.
                The namespace for the imported element must be defined in the instance, and the schema must be imported.
                The extension has a definition of "lax" i.e. they can reuse elements from the target namespace.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace = "##other" processContents = "lax" minOccurs = "0" maxOccurs = "unbounded"/>
        </xs:sequence>
    </xs:group>

    <!-- ================================================================================================== -->

    <!-- Generate Special DataTypes  ********************************************************************** -->

    <xs:complexType name="EmptyPrimitiveType.Type">
        <xs:complexContent>
            <xs:restriction base="xs:anyType"/>
        </xs:complexContent>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Generate the enumerated simpleType declarations ************************************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Parameter) ***************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Derived) ******************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Union) ********************************* -->

    <!-- ================================================================================================== -->

    <!-- Generate the simpleType elements based on IMS data-types (Complex) ******************************* -->

    <xs:element name="null" type="EmptyPrimitiveType.Type"/>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon simpleType ************************************ -->

    <xs:simpleType name="Identifier.Type">
        <xs:restriction base="xs:NCName"/>
    </xs:simpleType>

    <xs:simpleType name="Length.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]+%?"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="EncVariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="\{[\i-[:]][\c-[:]]*\}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="String256.Type">
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
            <xs:whiteSpace value="preserve"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="DateTime.Type">
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4}.*"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Date.Type">
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="MimeType.Type">
        <xs:restriction base="xs:normalizedString">
            <xs:pattern value="[\p{IsBasicLatin}-[()&lt;&gt;@,;:\\&quot;/\[\]?=]]+/[\p{IsBasicLatin}-[()&lt;&gt;@,;:\\&quot;/\[\]?=]]+"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="VariableString.Type">
        <xs:restriction base="xs:string">
            <xs:pattern value="[\i-[:]][\c-[:]]*"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- ================================================================================================== -->

    <!-- Generate the derived data-type elements based upon derived simpleType **************************** -->

    <!-- ================================================================================================== -->

    <!-- Generate the data-type ComplexTypes ************************************************************** -->

    <xs:complexType name="OutcomeDeclaration.Type" mixed="false">
        <xs:annotation>
            <xs:documentation source="umldocumentation">
                The OutcomeDeclaration complexType is the container for the declaration of outcome variables. Outcome variables are declared by outcome declarations. Their value is set either from s default given in the declaration itself or by a 'responseRule' during 'responseProcessing'.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice minOccurs = "0" maxOccurs = "1">
            </xs:choice>
        </xs:sequence>
        <xs:attributeGroup ref="identifier.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="cardinality.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="baseType.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="view.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="interpretation.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="longInterpretation.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="normalMaximum.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="normalMinimum.OutcomeDeclaration.Attr"/>
        <xs:attributeGroup ref="masteryValue.OutcomeDeclaration.Attr"/>
    </xs:complexType>

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Complex) ************************************************************ -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the elements (Derived) ************************************************************* -->

    <!-- ================================================================================================== -->

    <!-- Declaration of the root element(s) *************************************************************** -->

    <xs:element name="outcomeDeclaration" type="OutcomeDeclaration.Type"/>

    <!-- ================================================================================================== -->

</xs:schema>
